section.footer
    div.footer_up
        h1.footer_header Napíšte alebo <br> zavolajte
        div.row
            div.col-12.col-md-6.contact_info_ft
                p.email e-mail
                p.myemail daria@daria.com
            div.col-12.col-md-6.contact_info_ft
                p.phone telefón
                p.myphone +421 000 000 000
        
    div.footer_nav.row
        p.rounded.col.col-2.justify-content-start <a href="/"> <img class="logo_footer_desktop" src="/static/images/logo_button.svg"> <img class="logo_footer_mob footer_logo" href="/" src="/static/images/logo_footer_mob..svg"> </a>
        p.footer_nav_items.col.col-10.d-flex.justify-content-end <a class="my-auto" href="blog"> Blog </a> <a class="my-auto" href="galery"> Galéria </a> <a class="my-auto"  href="contact"> Kontakt </a>  <img class=" my-auto" src="/static/images/ver_line_white.svg"> <a class="my-auto" href="https://www.instagram.com/cielopasteles/"> <img class="footer_soc_sites" src="/static/images/ig_ft.svg"> </a> <a class="my-auto" href="https://www.facebook.com/Neofici%C3%A1lna-str%C3%A1nka-Cielo-102289121541732"><img class="footer_soc_sites"  src="/static/images/fb_ft.svg"> </a>
        p.made_with_love.col-12.my-auto Made with <img class="heart img-fluid" src="/static/images/heart.png"> in Cielo </p>
    <script src="/static/js/animations.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/galery.js"></script>
    <script src="/static/js/hideandunhide.js"></script>

